@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layoutss2.cshtml";
}

<h1 style="font-size:30px;color:#000;text-align:center;padding-top:240px">
    PHIM  MỚI Mang Đến Cho Bạn Trải Nghiệm Tốt Nhất.
    <p style="color:#000">PHONE: Nguyễn Nhật Hào - 0912225671</p>
    <p style="color:#000">MSSV: 1924801030128</p>
</h1>